$chelsea-cucumber: #ff1493; //#90a959; //灰绿
$conifer: #ff69b4; //#b5e853; //浅绿 //hotpink

@import "jekyll-theme-hacker";
@import "default_colors";

// @import 'jekyll-theme-hacker';


$apple-blossom: #ac4142; //棕红
$alto: #d0d0d0; //浅灰
$bouquet: #aa759f; //紫灰
$chelsea-cucumber: #ff1493; //#90a959; //灰绿
$cod-grey: #151515; //黑
$conifer: #ff69b4; //#b5e853; //浅绿 //hotpink
$dove-grey: #666; //
$gallery: #eaeaea; //灰白
$grey: #888; //
$gulf-stream: #75b5aa; //灰蓝绿
$hippie-blue: #6a9fb5; //灰深蓝
$potters-clay: #8f5536; //棕
$rajah: #f4bf75; //浅棕黄
$raw-sienna: #d28445; //棕黄
$silver-chalice: #aaa; //

header h1:before {
    content: "quaff-L：";
    font-size: 24px;
  }
